extends layout

block content
  .container
    .col-md-6
        form(action="/api/register", method="POST", role="form")
            legend Register
            .form-group
                label(for="") Your Name
                input.form-control(type="text", placeholder="Enter your name")
            .form-group
                label(for="") Your email
                input.form-control(type="email", placeholder="Enter your email")
            .form-group
                label(for="") Choose a password
                input.form-control(type="text", placeholder="password")
            p Already a member? 
                a(href="/login") Sign In
            button.btn.btn-primary(type="submit") Sign Up 
        